class {
  onInput() {
    this.state = {
      width: 200,
      height: 100
    }
  }

  handleClick(event) {
    this.state.width += 25;
    this.state.height += 25;
  }
}

style.less {
  @border-color: #000;

  .color-box {
    border: 2px solid @border-color;
  }
}

<div class="color-box" style={
    width: state.width + 'px',
    height: state.height + 'px',
    backgroundColor: input.color
  }
  on-click('handleClick')>
  ${input.color}
</div>
