<site-layout>
  <@title>Welcome to Marko!</@title>
  <@body>
    <h2>Demo component</h2>
    <click-count/>

    <h2>Additional routes</h2>
    <ul>
      <li>
        <a href="/hello/marko">/hello/marko</a>
      </li>
      <li>
        <a href="/hello/world">/hello/world</a>
      </li>
    </ul>
  </@body>
</site-layout>
